dist
node_modules
android
face_server
student-mobile-app
vidya_voice_ai
certs
ssl
scratch
app_extracted
temp_extract
*.db
*.sqlite
*.zip
*.exe
*.log
*.asar
temp_*
.env

students_dump.json
*.asar
*.exe
app_backup.asar
app.asar

students_dump.json
*.asar
*.exe
app_backup.asar
app.asar

credentials.json
token.json
.env
.env.*
*secret*
students_dump.json
*.asar
*.exe
app_backup.asar
app.asar
.vercel
.env*

# Local Netlify folder
.netlify
*.apk
